.register {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* horizontal center */
    align-items: center;
}

.more-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 681px) {
    .register {
        margin-top: 8rem;
    }
}