.products-page {
    display: flex;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.products-col {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.favorites-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    margin: 4rem;
    padding: 1rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

span:nth-child(2n) {
color: blue;
}

span:nth-child(2n+1) {
    color:grey;
}

.search-container {
    margin: 4rem;
    display: flex;
    justify-content: center;
}
.search-bar {
    border-radius: 1rem;
    text-align: center;
}

.search-bar::placeholder {
    text-align: center;
}

.sort-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

