.navbar {
  position: absolute;
  top: 0px;
  height: 90px;
  background-color: blue;
}

.logo {
  padding-left: 1rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.logo:hover {
  scale: 1.3;
}

.logo-options {
  display: flex;
  opacity: 0;                   
  pointer-events: none;
  position: absolute;
  left: 1rem;
  transition: all 0.15s ease-out;
}

.logo-options.active {
  opacity: 1;
  pointer-events:all;
  transform: translateY(4rem)
}

.auth-button.log-out{
  border: none;
  border-radius: .5rem;
  color: rgb(230, 92, 92);
  background-color: blue;
  
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
}

.auth-button {
  transition: all 0.2s ease-out;
}

.auth-button.log-out:hover {
  background-color: rgb(230, 92, 92);
  color: blue;
}

.auth-button.log-in{
  border: none;
  border-radius: .5rem;
  background-color: yellow;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
}
.search {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  right: 5rem;
  transition: all 0.1s ease-out;
  border-radius: 3rem;
  padding: .3rem;
}

.search-link {
  text-decoration: none;
  color: black;
}

.search:hover {
  cursor: pointer;
  scale: 1.3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.search:active {
  color: grey;
}

.products {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: 25rem;
  transition: all 0.1s ease-out;
  border-radius: 3rem;
  padding: .3rem;
}

.products-link {
  text-decoration: none;
  color: black;
}

.products:hover {
  scale: 1.3;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.products:active {
  color: grey;
}