.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    border-radius: 1rem;
    color: grey;
    gap: 1rem;
    margin: 1rem;
    border: .3rem solid grey;
}

.product-card.decrease {
    border: .3rem solid lightgreen;
}

.product-card.increase {
    border: .3rem solid red;
}

.title {
    justify-self: center;
    width: 20rem;
    text-align: center;
    margin: 0;
}

.image {
    border-radius: 1rem;
}

.price-history {
    color: lightblue;
    text-decoration: none;
    border-radius: 1rem;
    background-color: grey;
    padding: .3rem;
    transition: all 0.3s ease-out;
}

.price-history:hover {
    scale: 1.2;
}

.price-history:active {
    background-color: white;
}