
.button:hover {
    color:darkgray;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

button {
    color: darkblue;
}

.subscribe {
    display: flex;
    border-radius: 2rem;
    background-color: darkgrey;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 2rem;
}

.subscribe:hover {
    background-color: blue;
}