@font-face {
  font-family: 'best buy';
  src: url('../public/Futura Extra Bold.otf')
}

@keyframes rotateGradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 780px) {
  .navbar {
    position: absolute;
    bottom: 0;
  }
}
.welcome-user {
  margin: 3rem;
  font-size: larger;
  justify-self: center;
}

html, body {
  background: linear-gradient(yellow, grey);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: 'best buy';
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.greeting {
  text-align: center;
}

.navbar-app {
  position: absolute;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  bottom: 2rem;
  left: 50%;
}