@font-face {
  font-family: 'best buy';
  src: url('../public/Futura Extra Bold.otf')
}


.welcome-user {
  margin: 3rem;
  font-size: larger;
  justify-self: center;
}

.App {
  font-family: 'best buy';
  height: 100vh;
  border: 1px solid black;
  background: linear-gradient( yellow, grey)
}
